<h1>List of polls</h1>

<table border="0">
<% @polls.each do |poll| %>
	<tr>
		<td><%= link_to poll.question, poll %></td>
		<td><%= link_to "Edit", edit_poll_path(poll) %></td>
		<td><%= link_to "Delete", poll, confirm: "Are you sure?", method: :delete %></td>
	</tr>
<% end %>
</table>

<%= link_to 'New Poll', new_poll_path %>